.d-end-part {
  position: absolute;
  background-color: #021f3e;
  height: 213px;
  margin-left: -8px;
  width: 1349px;
}

.end-logo {
  width: 230px;
  margin-top: 18px;
  margin-left: 147px;
}

.end-ul {
  list-style: none;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin: -136px auto 0;
  width: fit-content;
  color: white;
  margin: -136px auto 0px 512px;
}

.end-ul li {
  display: inline-block;
  margin: 0 12px;
  font-size: 11.52px;
  cursor: pointer;
}

.icon-instagram {
  width: 29px;
  position: absolute;
  margin-left: 725px;
  margin-top: 33px;
}

.icon-youtube {
  position: absolute;
  width: 30px;
  margin-left: 775px;
  margin-top: 38px;
}

.icon-linkdin {
  position: absolute;
  margin-left: 823px;
  width: 30px;
  margin-top: 32px;
}

.end-t-1 {
  position: absolute;
  color: #6f6f6f;
  font-size: 11px;
  font-family: "Open sans", sans-serif;
  margin-top: 95px;
  margin-left: 623px;
}

.end-t-2 {
  position: absolute;
  color: #6f6f6f;
  font-size: 11px;
  font-family: "Open sans", sans-serif;
  margin-top: 95px;
  margin-left: 800px;
}
